# Copyright 2023-2026 Dimitris Panokostas
*/.qtc_clangd/*
*.o
*/bin.os3/*
*/bin.os4/*
*/bin.mos/*
*/bin.i386-aros/*
*/bin.x86_64-aros/*
.omg
.DS_Store
releases
local-notes/
source/Modules/ftp/third_party/libssh2/build/
